build.sh
*~
.packages/*


# ignore materials from other courses

others_materials/*

# ignore lecture notes for now

org-content/private-content/*

# ignore products for now

html-content/*.html
*.tex
*.pdf
